# Database
DATABASE_URL=postgres://USERNAME:PASSWORD@HOST:PORT/DATABASE

# Redis
REDIS_URL=redis://HOST:PORT

# General settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_CONFIGURATION=Production

DJANGO_SECRET_KEY=CHANGEME!!
DJANGO_ALLOWED_HOSTS=*
DJANGO_ADMIN_URL=never_known_admin/

JWT_SECRET_KEY=CHANGEME!!

# Default Superuser
SU_USER={{cookiecutter.github_username}}
SU_PASSWORD=
SU_EMAIL={{cookiecutter.email}}
